<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% include 'header.html' %}
        {% load static %}
    </head>
    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            {% include 'admin/admin-topnav.html' %}
            {% include 'admin/admin-sidenav.html' %}


            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">View user requests</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">User request status and information</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fs-6"> <i class="fa fa-list-ul" aria-hidden="true"></i> Existing Forms</span>
                                </div>
                            </div>
                            <div class="card-body"> 
                                {% if user_request %}
                                <div class="row border-bottom">
                                    <div class="col-md-6">
                                        <h6 class="fw-bold">User Number:
                                            <span class="fw-normal fs-6 mb-2">{{ user_request.user.student_number }}</span>
                                        </h6>
                                        <h6 class="fw-bold">Status:
                                            <span id="requestStatus" class="fw-normal fs-6 mb-2">{{ user_request.status }}</span>
                                        </h6>
                                        <h6 class="fw-bold">Purpose:
                                            <span id="requestStatus" class="fw-normal fs-6 mb-2">{{ user_request.purpose}}</span>
                                        </h6>
                                        <h6 class="fw-bold">Price:
                                            <span id="requestStatus" class="badge bg-primary">₱{{ user_request.request.price }}</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <h6 class="fw-bold mb-3">Submitted requirements:</h6>
                                        {% if uploads %}
                                        <ul class="list-group">
                                            {% for upload in uploads %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {{ upload.code }}
                                                <a href="{% static upload.path %}" download class="btn btn-primary btn-sm">Download</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <h6 class="fw-bold mb-3">Payment:</h6>
                                        {% if user_request.uploaded_payment %}
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Set payment status:
                                                <select class="form-select" name="payment_status" id="payment_status" aria-label="Default select example">
                                                    <option value="Processing" selected>Processing</option>
                                                    <option value="Paid">Paid</option>
                                                    <option value="On Hold">On Hold</option>
                                                    <option value="Failed">Failed</option>
                                                    <option value="Refunded">Refunded</option>
                                                </select>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Gcash Payment
                                                <a href="{% static user_request.uploaded_payment %}" download class="btn btn-primary btn-sm">Download</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="requestedFile" class="form-label fw-bold">Upload requested file:</label>
                                            <input type="file" class="form-control" id="requestedFile" name="file">
                                        </div>
                                        <div class="d-flex">
                                            <input type="text" class="form-control me-2" id="newStatus" placeholder="Enter new status">
                                            <button class="btn btn-primary" id="btnUpdateStatus" onclick="updateStatus('{{user_request.id}}')">Update Status</button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>                       
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Academic File Request System 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>

        {% include 'footer.html' %}     
        <script src="" async defer></script>
        <script>
            function showToast(options){
                let toast = Toastify({
                    text: options.message,
                    duration: options.duration,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: options.color,
                    },
                });

                toast.showToast();
            }

            function updateStatus(id) {
                var csrftoken = getCookie('csrftoken');
                let newStatus = document.getElementById("newStatus").value;
                let paymentStatus = document.querySelector("#payment_status");
                let fileInput = document.getElementById("requestedFile");
                let formData = new FormData();

                // // Validate input
                // if (newStatus.trim() === "") {
                //     showToast({
                //         'message': 'Status cannot be blank',
                //         'color': '#FF0000',
                //         'duration': 4000,
                //     });
                //     return;
                // }

                if (/[^a-zA-Z0-9\s]/.test(newStatus)) {
                    showToast({
                        'message': 'Status cannot contain special characters',
                        'color': '#FF0000',
                        'duration': 4000,
                    });
                    return;
                }

                formData.append('new_status', newStatus);

                if (newStatus.toLowerCase() === "completed") {
                    if (fileInput.files.length === 0) {
                        showToast({
                            'message': 'Please upload a file before marking the request as "Completed"',
                            'color': '#FF0000',
                            'duration': 4000,
                        });
                        return;
                    } else {
                        formData.append('requested_file', fileInput.files[0]);
                    }
                }

                formData.append("payment_status", paymentStatus.value)

                // Send AJAX POST request
                $.ajax({
                    type: 'POST',
                    url: '/admin-panel/user-request/' + id,
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function(response) {
                        showToast({
                            'message': response.message,
                            'color': response.status ? '#008000' : '#FF0000',
                            'duration': 4000,
                        })

                        if (response.status) {
                            let status = document.getElementById("requestStatus");
                            status.textContent = response.request_status;
                            
                            setTimeout(() => {
                                showToast({
                                    'message': 'Redirecting back to user requests...',
                                    'duration': 2000,
                                });
                            }, 1000);

                            setTimeout(() => {
                                window.location.href = "/admin-panel/user-request/"
                            }, 3000);
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                            }
                        }
                }
                return cookieValue;
            }
        </script>    
    </body>
</html>