<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% include 'header.html' %}
        {% load static %}
    </head>
    <body>
        {% if user_request %}
            <h3>User Number: {{ user_request.user.student_number }}</h3>
            <h3>Status: <span id="requestStatus"> {{ user_request.status }} </span></h3>
            <h3>Submitted requirements: </h3>
            {% if uploads %}
                {%  for upload in uploads %}
                    <p>{{ upload.code }} <a href="{% static upload.path %}" download>Download here</a></p>
                {% endfor %}
            {% endif %}
            <label for="file">Upload requested file:</label>
            <input type="file" name="file" id="requestedFile" required>
            <button id="btnApproveRequest" onclick="approveRequest('{{user_request.id}}')">Approve request</button>
        {% endif %}
        <footer>
            {% include 'footer.html' %}
        </footer>  
        <script>
            function showToast(options){
                let toast = Toastify({
                    text: options.message,
                    duration: options.duration,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: options.color,
                    },
                });

                toast.showToast();
            }

            function approveRequest(id){
                var csrftoken = getCookie('csrftoken');
                let formData = new FormData();
                let file = document.getElementById("requestedFile");
                formData.append('requested_file', file.files[0]);

                // Send AJAX POST request
                $.ajax({
                    type: 'POST',
                    url: '/admin-panel/user-request/' + id, 
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function(response) {
                        showToast({
                            'message': response.message,
                            'color': response.status ? '#008000' : '#FF0000',
                            'duration': 4000,
                        })

                        if (response.status) {
                            let status = document.getElementById("requestStatus");
                            let btnApproveRequest = document.getElementById("btnApproveRequest");
                            let fileInput = document.getElementById("requestedFile");
                            status.textContent = response.request_status
                            fileInput.disabled = true;
                            btnApproveRequest.disabled = true;
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                            }
                        }
                }
                return cookieValue;
            }
        </script>      
    </body>
</html>