<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% include 'header.html' %}
    </head>
    <body class="sb-nav-fixed">

        {% include 'user/user-topnav.html' %}

        <div id="layoutSidenav">
            {% include 'user/user-sidenav.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Create Request</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Choose documents to request, upload required files</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fs-6"> <i class="fa fa-plus" aria-hidden="true"></i> Create Requests</span>
                                </div>
                            </div>
                            <div class="card-body h-100 p-4">
                                <div class="column">
                                    <div class="col-md-6 mb-3">
                                        <h5 class="mb-3">Select document to request:</h5>
                                        <div class="mb-3">
                                            <select name="request" id="request" class="form-select">
                                                {% for request_obj in all_requests %}
                                                <option value="{{ request_obj.id }}">{{ request_obj.document }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button id="btnCreate" type="button" class="btn btn-primary">Create</button>
                                    </div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div id="container"></div>
                                    </div>
                                </div>
                            </div>                          
                            
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Academic File Request System 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>




        {% include 'footer.html' %}


        <script>
            function showToast(options) {
                let toast = Toastify({
                    text: options.message,
                    duration: 2000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                    style: {
                        background: options.color,
                    },
                });

                toast.showToast();
            }

            $(document).ready(function() {
                // Events
                $('#btnCreate').click(function() {
                    let selectedRequest = document.querySelector("#request")

                    showToast({message: "Creating request form please wait..."})
                    getRequest(selectedRequest.value, createRequestForm);
                });

                // Web services
                function getRequest(id, successCallBack, errorCallBack){
                    $.ajax({
                        type: 'GET',
                        url: '/request/' + id + '/',
                        success: function(response) {
                            successCallBack(response);
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                }
                
                function createRequestForm(response) {
                    let data = response;
                    let requestID = data.id;

                    // Debug
                    console.log(data);

                    const container = document.getElementById("container");
                    container.innerHTML = "";

                    // Fill up the form
                    const h2ForRequiredFiles = document.createElement("h5");
                    h2ForRequiredFiles.innerHTML = data.document;
                    h2ForRequiredFiles.classList.add("mb-3");

                    const price = document.createElement("span");
                    price.textContent = "₱" + data.price;
                    price.classList.add("mx-2", "badge", "bg-primary");
                    h2ForRequiredFiles.appendChild(price);
                    container.appendChild(h2ForRequiredFiles);

                    // Create textarea for description
                    const descriptionTextarea = document.createElement("p");
                    descriptionTextarea.id = "description";
                    descriptionTextarea.name = "description";
                    descriptionTextarea.textContent = data.description;
                    container.appendChild(descriptionTextarea);

                    // Purpose
                    const lblPurpose = document.createElement("h5");
                    lblPurpose.innerHTML = "Purpose:";
                    container.appendChild(lblPurpose);

                    // Purpose dropdown
                    const drpPurpose = document.createElement("select");
                    drpPurpose.setAttribute("id", "drpPurpose")
                    drpPurpose.classList.add("mb-3") // Add margin left 3
                    drpPurpose.name = "purpose";

                    const purposes = data.purpose;
                    purposes.forEach((purpose) => {
                        const optPurpose = document.createElement("option");
                        optPurpose.value = purpose.description;
                        optPurpose.textContent = purpose.description;
                        drpPurpose.appendChild(optPurpose);
                    })

                    container.appendChild(drpPurpose);

                    // Create label
                    const h2 = document.createElement("h5");
                    h2.innerHTML = "Required Files:";
                    container.appendChild(h2);

                    // Create upload input for files_required
                    const requiredFiles = (data.files_required).split(',');
                    requiredFiles.forEach((requiredFile) => {
                        let fileInputContainer = document.createElement("div");
                        fileInputContainer.classList.add("mb-3");

                        let fileLabel = document.createElement("label");
                        fileLabel.setAttribute("for", requiredFile);

                        // Fetch document description for the required file code
                        getDocumentDescription(requiredFile, function(description) {
                            fileLabel.textContent = description;
                        });

                        let fileInput = document.createElement("input");
                        fileInput.setAttribute("type", "file");
                        fileInput.setAttribute("id", requiredFile);
                        fileInput.classList.add("form-control");
                        fileInput.required = true;

                        fileInputContainer.appendChild(fileLabel);
                        fileInputContainer.appendChild(fileInput);
                        container.appendChild(fileInputContainer);
                    });

                    // Create submit button
                    const btnSubmitRequest = document.createElement("button");
                    btnSubmitRequest.id = "btnSubmitRequest";
                    btnSubmitRequest.textContent = "Submit Request";
                    btnSubmitRequest.addEventListener("click", () => {
                        submitRequest(requestID);
                    })
                    btnSubmitRequest.type = "button";
                    btnSubmitRequest.classList.add("btn", "btn-primary"); // Add Bootstrap classes
                    container.appendChild(btnSubmitRequest);
                }

                function submitRequest(id){
                    if (!validateForm()) {
                        showToast({ message: 'Form submission failed due to missing required files.', color: '#FF0000' });
                        return; // Do not proceed with form submission
                    }
                    const files = document.querySelectorAll('input[type="file"]');
                    var csrftoken = getCookie('csrftoken');

                    // Create form data
                    var formData = new FormData();

                    formData.append("id", id);
                    files.forEach((file, index) => {
                        // Append each file to the FormData object
                        formData.append(`${file.id}`, file.files[0]);
                        formData.append('purpose', document.querySelector("#drpPurpose").value);
                    });

                    // Send AJAX POST request
                    $.ajax({
                        type: 'POST',
                        url: '/request/user/create/', // Replace with your Django URL
                        data: formData,
                        processData: false,
                        contentType: false,
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            showToast({
                                'message': response.message,
                                'color': '#008000'
                            });

                            setTimeout(function () {
                                window.location.href = '/request/user/';
                            }, 1500);
                        },
                        error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                        }
                    });
                }
            });

            function getDocumentDescription(docCode, callback) {
                $.ajax({
                    type: 'GET',
                    url: '/get-document-description/' + docCode + '/',
                    success: function(response) {
                        callback(response.description);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(errmsg);
                    }
                });
            }

            // Function to get CSRF cookie value
            function getCookie(name) {
                var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                return cookieValue;
            }
            
            function validateForm() {
                const fileInputs = document.querySelectorAll('input[type="file"][required]');
                let isValid = true;

                fileInputs.forEach(input => {
                    if (!input.value) {
                    isValid = false;
                    }
                });

                return isValid;
            }
        </script>
    </body>
</html>