<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% include 'header.html' %}
    </head>
    <body class="sb-nav-fixed">


        <div id="layoutSidenav">
            {% include 'admin/admin-topnav.html' %}
            {% include 'admin/admin-sidenav.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Codetables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Here we can add additional requirements and documents for requests to be made</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Codetables
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <span class="fs-6">1. Requirements</span>
                                    <form method="POST" id="formRequirements" class="row g-3 align-items-center">
                                        {% csrf_token %}
                                        <div class="col-auto">
                                            <input type="text" name="description" id="formRequirementsDescription" class="form-control form-control-sm" required placeholder="Enter requirement">
                                        </div>
                                        <input type="hidden" name="table_name" value="Requirement">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            
                                <div class="mb-3">
                                    <span class="fs-6">2. Documents</span>
                                    <form method="POST" id="formRequirements2" class="row g-3 align-items-center">
                                        {% csrf_token %}
                                        <div class="col-auto">
                                            <input type="text" name="description" id="formRequirements2Description" class="form-control form-control-sm" required placeholder="Enter document type">
                                        </div>
                                        <input type="hidden" name="table_name" value="Document">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="mb-3">
                                    <span class="fs-6">3. Purposes </span>
                                    <form method="POST" id="formRequirements3" class="row g-3 align-items-center">
                                        {% csrf_token %}
                                        <div class="col-auto">
                                            <input type="text" name="description" id="formRequirements3Description" class="form-control form-control-sm" required placeholder="Enter document type">
                                        </div>
                                        <input type="hidden" name="table_name" value="Purpose">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>                            
                            
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Academic File Request System 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
        {% include 'footer.html' %}
        <script>
            $(document).ready( function() {
                function showToast(options){
                    let toast = Toastify({
                        text: options.message,
                        duration: 2000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                        style: {
                            background: options.color,
                        },
                    });

                    toast.showToast();
                }

                $('#formRequirements').on('submit', function(e) {
                    e.preventDefault(); // Prevent the form from submitting normally

                    // Get form data
                    var formData = new FormData($('#formRequirements')[0]);

                    // Send AJAX POST request
                    $.ajax({
                        type: 'POST',
                        url: '/codetable/', // Replace with your Django URL
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            showToast({
                                'message': response.message,
                                'color': response.status ? '#008000' : '#FF0000'
                            })

                            // Clear description
                            $("#formRequirementsDescription").val("");
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                });

                $('#formRequirements2').on('submit', function(e) {
                    e.preventDefault(); // Prevent the form from submitting normally

                    // Get form data
                    var formData = new FormData($('#formRequirements2')[0]);

                    // Send AJAX POST request
                    $.ajax({
                        type: 'POST',
                        url: '/codetable/', // Replace with your Django URL
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            showToast({
                                'message': response.message,
                                'color': response.status ? '#008000' : '#FF0000'
                            })

                            // Clear description
                            $("#formRequirements2Description").val("");                                                        // Clear description
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                });
            
                $('#formRequirements3').on('submit', function(e) {
                    e.preventDefault(); // Prevent the form from submitting normally

                    // Get form data
                    var formData = new FormData($('#formRequirements3')[0]);

                    // Send AJAX POST request
                    $.ajax({
                        type: 'POST',
                        url: '/codetable/', // Replace with your Django URL
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            showToast({
                                'message': response.message,
                                'color': response.status ? '#008000' : '#FF0000'
                            })

                            // Clear description
                            $("#formRequirements3Description").val("");                                                        // Clear description
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                });
            });
        </script>

    </body>
</html>