<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            
        <!-- Toastify -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>
    <body>
        <form action="">
            {% csrf_token %}
            <label for="user_number">User Number:</label>
            <input type="number" minlength="10" name="user_number" required>
            <br>
            <label for="fname">First name:</label>
            <input type="text"  name="fname" required>
            <br>
            <label for="lname">Last name:</label>
            <input type="text"  name="lname" required>
            <br>
            <label for="course">Courses</label>
            <select name="course">
                {% for course in courses %}
                    <option value="{{ course.code }}">{{ course.description }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
        <script>
            $(document).ready(function() {
                function showToast(options){
                    let toast = Toastify({
                        text: options.message,
                        duration: 2000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                        style: {
                            background: options.color,
                        },
                    });

                    toast.showToast();
                }

                $('form').on('submit', function(e) {
                    e.preventDefault(); // Prevent the form from submitting normally

                    // Get form data
                    var formData = new FormData($('form')[0]);

                    // Send AJAX POST request
                    $.ajax({
                        type: 'POST',
                        url: '/record/', // Replace with your Django URL
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            showToast({
                                'message': response.message,
                                'color': response.status ? '#008000' : '#FF0000'
                            })

                            if (response.status){
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(errmsg);
                        }
                    });
                });
            });
        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </body>
</html>